/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* global elements */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 30px;
    margin:16px 0px;
}
/* header section styles  */

header{
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 677px;
}

.head-left{
    margin-left: 60px;
}

.head-title h1{
    font-size: 64px;
    color: white;
}

.head-button{
    margin-top: 27px;
}

.head-button a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    transition: .5s;

}

i.fas.fa-arrow-right {
    margin-left: 8px;
}

.head-right img{
    Width:556.01px;
    Height:438px;
}

/* player section style  */

#all-players{
    /* width: 1050px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 28px;
    margin: 70px 180px;
}

.player{
    padding: 15px 15px 20px 15px;
    box-shadow: 0 0 5px 5px #8080802e;
}

.player img{
    width: 100%;
}

.player-info{
    color: #6C6C6C;
    font-size: 16px;
}

 /* videos section        */

#video-shorts {
    margin: 70px 180px;
}

.videos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 28px;  
}

/* partners section  */
#our-partners{
    margin: 70px 180px;
}
.partners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.partner img{
    width: 100%;
    transition: .7s;
}
/* footer styles  */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 63px 0px;
}

.footer-logo img{
    width: 483px;
    height: 110px;
}
.social-icons i{
    color: #969BAB;
    background-color: lightgray;
    padding: 16px;
    border-radius: 50%;
    margin-right: 14px;
    margin-bottom: 20px;
}

.copyright {
    font-size: 18px;
}
        /*----------------
        Mobile devices
        --------------- */


        @media only screen and (max-width:688px){
            
            /* header responsive  */

            header{
              flex-direction: column;
              justify-content: space-evenly;
              overflow: hidden;
              align-items: flex-start;
            }
            .head{
                width: 100%;
            }
            .head-left{
                margin-left: 16px;
            
            }
            .head-title h1{
                font-size: 36px;
            }
           
            .head-right img{
                Width:329px;
                Height:259.17px;
            }

            /* players responsive */

            #all-players{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 28px;
                margin: 47px 15px;
            }


            /* video shorts  */

            #video-shorts {
                margin: 70px 16px;
            }
            .videos{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 28px;  
            }

            /* .partner responsive */
            #our-partners{
                margin: 70px 16px;
            }
            .partners{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
            .partner img{
                width: 150px;
                transition: .7s;
            }

            /* footer responsive */
            .footer-logo img{
                width: 271px;
                height: 63px;
            }
        }
        
        /*-----------------
        Tablet device 
        -----------------*/
        
        @media only screen and (min-width:688px) and (max-width:992px){

            .head{
                  width: 100%;
              }
              .head-left{
                  margin-left: 40px;
              
              }
              .head-title h1{
                  font-size: 40px;
              }
             
              .head-right img{
                  Width: 385px;
                  Height:350px;
              }

            /* players responsive */

            #all-players{
                grid-template-columns: repeat(2,1fr);
                grid-gap: 28px;
                margin: 70px 62px;
            }
            /* video shorts  */

            #video-shorts {
                margin: 70px 62px;
            }
            .videos{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 28px;  
            }
            /* .partner responsive */
            #our-partners{
                margin: 70px 62px;
            }
            .partners{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
            .partner img{
                width: 250px;
                transition: .7s;
            }

            /* footer responsive */

            .footer-logo img {
                width: 260px;
                height: 90px;
            }
        }


        /* hover effect */

        .head-button a:hover {
            background-color: #e02c6dd9;
            padding: 10px 35px;
        }
        .partner img:hover{
            transform: scale(1.2);
        }